<p><strong><%= @access.email %></strong> (Projekt <%= @access.topic.name %>) schreibt im Portal:</p>
<blockquote><%= simple_format(@message.body.to_s) %></blockquote>
<p>Antworten: in miolimOS auf der Communication antworten und „im Portal zeigen" wählen.</p>
