<% content_for :title, "Thema bearbeiten" %>
<div class="max-w-xl bg-white rounded border border-slate-200 p-4">
  <h1 class="text-lg font-semibold mb-3"><%= t("topics.edit_topic") %></h1>
  <%= render "form", topic: @topic %>
</div>
